@tailwind base;
@tailwind components;
@tailwind utilities;
/*@custom-variant dark (&:where(.dark, .dark *));*/

@layer components {
    .input:focus {
        outline: none !important;
        border-color: hsl(var(--p) / 0.5) !important;
        --tw-ring-offset-width: 0px !important;
    }
}
